body {
  margin: 0;
  padding: 0;
  background-image: url(/IMAGES/book.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.head {
  margin-top: 5px;
  margin-left: 20px;
  text-decoration: underline;
  font-weight: bolder;
}

.form-box {
  width: 400px;
  height: 400px;
  margin-right: 200px;
  position: relative;
  margin: 9% auto;
  background: linear-gradient(rgb(99, 94, 94), white, black);
  padding: 10px;
  border-radius: 5px;
  margin-left: 500px;
}

.cancellationpage {
  top: 50px;
  position: absolute;
  width: 450px;
  transition: 0.5s;
}
.input-field {
  width: 70%;
  padding: 09px 0;
  margin: 50px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgb(7, 7, 7);
  outline: none;
  background: transparent;
}
.input-field:focus {
  color: black;
  font-weight: bolder;
}

input {
  font-weight: 800;
}
.Cancellation {
  margin-left: 47px;
  width: 41%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  background: #ff8b07;
  font-weight: bolder;
  border: 0;
  outline: none;
  border-radius: 30px;
  margin-top: 20px;
}
.Cancellation:hover {
  background-color: #ffa91f;
  color: black;
}

#cancelling {
  left: 50px;
}
#cancelling input {
  color: black;
  font-size: 20px;
}